.gap-sm {
  gap: var(--space-gap-sm);
}

.gap-md {
  gap: var(--space-gap-md);
}

.gap-lg {
  gap: var(--space-gap-lg);
}

.padding-sm {
  padding: var(--space-padding-sm);
}

.padding-md {
  padding: var(--space-padding-md);
}

.padding-lg {
  padding: var(--space-padding-lg);
}

.pointer {
  cursor: pointer;
}
