.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  cursor: pointer;
  user-select: none;
  font-family: var(--font-family-mono);
  font-size: 1.15rem;
  font-weight: 700;
  border-radius: 20px;
  border: 0;
  color: black;
  transition:
    background-color var(--transition-base),
    border-color var(--transition-base),
    color var(--transition-base),
    transform var(--transition-fast),
    box-shadow var(--transition-base),
    opacity var(--transition-base)
    filter var(--transition-base);
}

.btn:hover {
  background: var(--color-surface-hover);
  border-color: var(--color-border-strong);
}

.btn:focus,
.btn:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus), var(--shadow-elevation-lg);
}

.btn.active {
  transform: scale(0.98);
  background: linear-gradient(180deg, #dd8045 0%, #d97639 100%);
  border-color: var(--color-accent-strong);
  color: white
}

.btn.disabled,
.btn[aria-disabled="true"],
.btn:disabled {
  background: var(--color-surface-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
  pointer-events: none;
  box-shadow: none;
}
